
<app-navbar></app-navbar>

    <hr>
    
    <div class="row">
        <aside class="col-sm-2 ml-4">
        <p>Filter 1</p>
    
    
        <div class="card">
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Location </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                <form>
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-label">
                          
                        Mersedes Benz
                      </span>
                    </label> <!-- form-check.// -->
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-label">
                        Nissan Altima
                      </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                      <input class="form-check-input" type="checkbox" value="">
                      <span class="form-check-label">
                        Another Brand
                      </span>
                    </label>  <!-- form-check.// -->
                </form>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- card-group-item.// -->
        
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Choose type </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                <label class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadio" value="">
                  <span class="form-check-label">
                    First hand items
                  </span>
                </label>
                <label class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadio" value="">
                  <span class="form-check-label">
                    Brand new items
                  </span>
                </label>
                <label class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadio" value="">
                  <span class="form-check-label">
                    Some other option
                  </span>
                </label>
                </div> <!-- card-body.// -->
             </div>
            </article> <!-- card-group-item.// -->
        </div> <!-- card.// -->
        </aside>
        <div class="col-md-5 offset-md-1">
            <ul class="job-list">
                <li class="job-preview">
                    <div class="content float-left">
                        <h4 class="job-title">
                            Senior Web Designer
                        </h4>
                        <h5 class="company">
                            Seattle, WA
                        </h5>
                    </div>
                    <a href="#" class="btn btn-apply float-sm-right float-xs-left">
                        View More
                    </a>
                </li>
                <li class="job-preview">
                    <div class="content float-left">
                        <h4 class="job-title">
                            Senior Web Designer
                        </h4>
                        <h5 class="company">
                            Seattle, WA
                        </h5>
                    </div>
                    <a href="#" class="btn btn-apply float-sm-right float-xs-left">
                        View More
                    </a>
                </li>
                <li class="job-preview">
                    <div class="content float-left">
                        <h4 class="job-title">
                            Senior Web Designer
                        </h4>
                        <h5 class="company">
                            Seattle, WA
                        </h5>
                    </div>
                    <a href="#" class="btn btn-apply float-sm-right float-xs-left">
                        View More
                    </a>
                </li>
                <li class="job-preview">
                    <div class="content float-left">
                        <h4 class="job-title">
                            Senior Web Designer
                        </h4>
                        <h5 class="company">
                            Seattle, WA
                        </h5>
                    </div>
                    <a href="#" class="btn btn-apply float-sm-right float-xs-left">
                        View More
                    </a>
                </li>
                <li class="job-preview">
                    <div class="content float-left">
                        <h4 class="job-title">
                            Senior Web Designer
                        </h4>
                        <h5 class="company">
                            Seattle, WA
                        </h5>
                    </div>
                    <a href="#" class="btn btn-apply float-sm-right float-xs-left">
                        View More
                    </a>
                </li>
                <li class="job-preview">
                    <div class="content float-left">
                        <h4 class="job-title">
                            Senior Web Designer
                        </h4>
                        <h5 class="company">
                            Seattle, WA
                        </h5>
                    </div>
                    <a href="#" class="btn btn-apply float-sm-right float-xs-left">
                        View More
                    </a>
                </li>
                
            
            </ul>
        </div>
        <div class="col-md-4">
            <div class="h-100" style="background-color:red">
       
                    <kendo-label text="kokok"></kendo-label>
                  
            
        </div>
        </div>


    
