
#job-posting-area{
    background-color: #f3f3f3;
  }
  #job-posting-area .job-posting-wrapper{
    max-width: 800px;
  }
  #job-posting-area .job-posting-area-heading{
    text-transform: uppercase;
    font-size: 24px;
  }
  
  /*
  =============================================
  JOB POSTING PAGE END
  =============================================
  */
  
  
  /*MEDIA QUERY*/
  
  @media (max-width: 1199px) {
  }
  
  @media (max-width: 991px) {
  }
  
  @media (max-width: 767px) {
  }
  
  @media (max-width: 575px) {
  }
  
  @media (min-width: 576px) {
  }
  
  @media (min-width: 768px) {
  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
  }
  
  @media (min-width: 1400px) {
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
  }
  @media (min-width: 768px) and (max-width: 991px) {
  }
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  
  